<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/test</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <mapping class="com.fpt.hava.hava_manager.f_q_as.domain.FQAsEntity"/>
    <mapping class="com.fpt.hava.hava_manager.videos.domain.VideosEntity"/>
    <mapping class="com.fpt.hava.hava_manager.feels.domain.FeelsEntity"/>
    <mapping class="com.fpt.hava.hava_manager.exam.domain.ExamsEntity"/>
    <mapping class="com.fpt.hava.hava_manager.exam.domain.QuestionsEntity"/>
    <mapping class="com.fpt.hava.hava_manager.theory.domain.TheoryEntity"/>
    <mapping class="com.fpt.hava.hava_manager.exam.domain.ExamQuestionsEntity"/>
    <mapping class="com.fpt.hava.hava_manager.test_history.domain.HistoriesEntity"/>
    <mapping class="com.fpt.hava.hava_manager.test_history.domain.TestHistoryEntity"/>
    <mapping class="com.fpt.hava.hava_manager.label.domain.LabelsEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>